#header {
  font-family: 'Arvo', serif;
  color: #efefef;
  font-size: 50px;
}

.header-bg {
  padding: 1px;
  background-color: #2b2b2b;
}

.pink {
  color: #ff4c4c;
}

.cyan {
  color: #b7efff;
}

.light_cyan {
  color: #d8fdff;
}

.cyan1 {
  color: #9aff99;
  font-size: 50px;
}

.scroller-border {
  border: 10px solid #2B2B2B;
  padding: 20px;
  background-color: #bcbcbc;
}

.icon {
  border-radius: 48%;
}

.images {
  background-color: #bfbfbf;
}

.images > img {
  border: 3px solid black;
  border-radius: 8px;
}

.img_header_bg {
  padding: 10px;
  background-color: #4c4c4c;
  border-bottom: 10px solid #2B2B2B;
}

.images_header {
  font-family: 'Arvo', serif;
  color: white;
}

.modal-header {
}

.modal-body {
}

.my-img a {
    display: inline-block;
    margin: 10px;
    border: 2px solid #CCC;
}
.my-img a:hover {
    border: 2px solid #45AFFF;
}    
.modal-lg {
    width: 86%;
}
.modal-body {
    overflow: auto;
    max-height: auto;
}

.modal-title {
  font-family: 'Coming Soon', cursive;
}