@import 'slick';
@import 'slick-theme';

.scroller {
  padding: 25px;
  background-color: #d8d8d8;
  border-radius: 8px;
  img {
    text-align: center;
    font-size: 30px;
  }
}

.slick-prev::before, .slick-next::before {
  color: #000;
}

.slick-next {
  right: 3px;
  z-index: 1;
}

img {
  margin: 5px;
}

img:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.8s;
}

.slick-prev {
  left: 3px;
  z-index: 1;
}

.a {
  height: 300px;
  width: 400px;
}

.b {
  height: 300px;
  width: 400px;
}

.c {
  height: 300px;
  width: 400px;
}

.d {
  height: 300px;
  width: 240px;
}

.e {
  height: 300px;
  width: 350px;
}

.f {
  height: 300px;
  width: 400px;
}

.g {
  height: 300px;
  width: 250px;
}

.h {
  height: 300px;
  width: 250px;
}

.i {
  height: 300px;
  width: 250px;
}

.j {
  height: 300px;
  width: 250px;
}

.k {
  height: 300px;
  width: 250px;
}


